body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;

    background: rgba(128, 128, 128, 0.6) url("img/background.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
  }

  .navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 25px;
    height: 60px;
    
    background: linear-gradient(180deg, rgba(99, 102, 104, 0.9) 0%, rgba(69, 71, 71, 0.9) 50.52%, rgba(52, 52, 52, 0.9) 53.12%, rgba(0, 0, 0, 0.9) 100%);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3), inset 0px 2px 1px rgba(255, 255, 255, 0.3), inset 0px -2px 1px rgba(0, 0, 0, 0.4);
  }
  
  .nav.desktop{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    height: 100%;
  }
  
  .nav.mobile{
    display: none;
  }
  
  .navlink{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;  
    align-items: center;
  }
  
  .navlink:hover{
    text-decoration: none;
  }
  
  .navbar img{
    height: 36px;
    box-shadow: none;
    background: none;
  }

  .navbar button {
    position: relative;
    display: inline-flex;
    align-items: center; /* Align items vertically */
    justify-content: center; /* Align items horizontally */
    border: none;
    background-color: transparent;
    gap: 10px;
    height: 100%; /* Adjust height as needed */
  }


  .navbar button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }

  .navbar button:hover {
    background: linear-gradient(180deg,  rgba(0, 0, 0, 0.9) 0%, rgba(52, 52, 52, 0.9) 50.52%,  rgba(69, 71, 71, 0.9)53.12%, rgba(99, 102, 104, 0.9) 100%);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3), inset 0px 2px 1px rgba(255, 255, 255, 0.3), inset 0px -2px 1px rgba(0, 0, 0, 0.4);
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 25px;
  }
  
  .content.narrow {
    padding: 0;                                                                       
    max-width: 60%;
  }

  .columns.two{
    display: grid;
    width: 100%;
    grid-template-columns: 49% auto;
    gap: 25px;
  }

  .container {
    display: flex;
    gap: 10px;
    width: 80%;
    align-items: stretch;
  }

  .split-tile{
    height: 100%;
    flex: 1;
    padding: 20px;
    text-align: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }



  .tile {
    border-radius: 15px;
    padding: 25px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    
    color: #fafafa;
    background: linear-gradient(180deg, rgba(83, 85, 87, 0.9) 0%, rgba(14, 15, 15, 0.9) 100%);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3), inset 0px 2px 1px rgba(255, 255, 255, 0.3), inset 0px -2px 1px rgba(0, 0, 0, 0.4);
  }

  .tile img{
    width: 100%;
    border-radius: 5px;
    filter: drop-shadow(0px -2px 1px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    box-shadow: inset 0 0 rgba(0, 0, 0, 0);
  }

  .vl {
    width: 1px;
    height: 100%;
    
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.225) 0%, rgba(255, 255, 255, 0.18) 35.94%, rgba(255, 255, 255, 0.27) 100%);
    box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.4);
  }

  #curpage{
    background: linear-gradient(180deg, #9ED69B 0%, #5BA84A 48.44%, #69D137 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h1 {
    margin: 0 0 5px;
    font-weight: normal;
    font-family: "Noto Sans Display";
    font-style: normal;
    font-size: 36px;
    line-height: 125%;
    text-transform: lowercase;
    display:inline;
    
    filter: drop-shadow(0px -2px 1px rgba(0, 0, 0, 0.25));
    background: linear-gradient(180deg, #878C87 0%, #D3D4D3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  h2 {
    margin: 0 0 5px;
    font-weight: normal;
    font-family: "Noto Sans Display";
    font-style: normal;
    font-size: 32px;
    line-height: 125%;
    text-transform: lowercase;
    display:inline;

    filter: drop-shadow(0px -2px 1px rgba(0, 0, 0, 0.25));
    background: linear-gradient(180deg, #878C87 0%, #D3D4D3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  h3 {
    margin: 0;
    font-weight: normal;
    font-family: "Noto Sans Display";
    font-style: normal;
    font-size: 20px;
    line-height: 125%;
    text-transform: lowercase;
    display:inline;

    filter: drop-shadow(0px -2px 1px rgba(0, 0, 0, 0.25));
    background: linear-gradient(180deg, #878C87 0%, #D3D4D3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  h4 {
    margin: 0;
    font-weight: normal;
    font-family: "Noto Sans Display";
    font-style: normal;
    font-size: 30px;
    line-height: 125%;
    text-transform: lowercase;
    display:inline;
  
    filter: drop-shadow(0px -2px 1px rgba(0, 0, 0, 0.25));
    background: linear-gradient(180deg, #878C87 0%, #D3D4D3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  i{
    filter: drop-shadow(0px -2px 1px rgba(0, 0, 0, 0.25));
    background: linear-gradient(180deg, #878C87 0%, #D3D4D3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    }

  a {
    color: #61BB41;
    text-decoration: none;
    word-break: break-all;
  }

  .navbar a {
    color: #61BB41;
    text-decoration: none;
    word-break: break-all;
    height: 100%;
  }
  
  ul {
    margin: 0;
  }
  
  p, li {
    font-family: "Noto Sans Display";
    font-size: 20px;
    margin: 0;  

    filter: drop-shadow(0px -2px 1px rgba(0, 0, 0, 0.25));
    background: linear-gradient(180deg, #878C87 0%, #D3D4D3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  sub {
    text-shadow: 0px -2px 1px rgba(0, 0, 0, 0.25);
    color: #E6E6E6;
    font-family: Regular;
    margin: 5px 0 0 0;
  }